mat-grid-tile {
    background-color: white;
}
body{
    background-color: tomato;
}
.mat-card-image:first-child {
    margin-top: 25px;
    /* height: 50%;*/
    width: 100%;
} 
mat-list-item{
    align-content:center;
}
#title { 
    text-decoration: none; 
    color: black;
} 
mat-card{
    margin: auto;
}

.mat-form-field {
    
    margin-left: 50px;
    margin-right: 150px;
  } 